<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            font-size: 2.5pc;
            color:brown;
        }
        input,label,button{
            font-size: 1.5pc;
            margin: 1pc;
        
        }
    </style>
</head>
<body>
    <center>
    <h1>login</h1>
    <form method="POST">
        <label for="">username</label>
        <input name="username" type="text"/><br>
        <label for=""> Password</label>
        <input name="password" type="text"/><br>
        <button>submit</button>
    </form>
    </center>
</body>
</html>