<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{
            font-size: 2pc;
            color: brown;
        }
        input,label{
            font-size: 1.3pc;
            margin: 0.5pc;
        }
    </style>
</head>
<body>
    <center>
    <form method="post">
        <h2>Register</h2>
        <label for="username">Username:</label>
        <input name='username' type="text" id="username" required><br>
        <label for="mobile">Mobile Number:</label>
        <input name="mobile" type="tel" id="mobile" required><br>
        <label for="email">Email ID:</label>
        <input name="email" type="email" id="email" required><br>
        <label for="address">Address:</label>
        <input name='address' type="text" id="address" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>
        <button type="submit">Submit</button>
    </form>
    </center>
</body>
</html>